{% extends "base.jinja2"%}

{% block title%} <title>Register</title> {% endblock title%}

{% block main %}

    <form action="/internal/register" method="post">

        <input type="text" name="username" placeholder="username">

        <br>
        <br>

        <input type="password" name="password" placeholder="password">

        <br>
        <br>

        <button type="submit">Register</button>

    </form>
    
{% endblock main %}