<!DOCTYPE html>
<html lang="en">

    <head>

        <link rel="stylesheet" href="/static/base.css">
            
        {% block style %}
        {% endblock style %}

        {% block title %}
        {% endblock title %}

    </head>
    <body>
        <nav>

            <div>
                <a href="/"><h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home </h2></a>
                <a href="/explore"><h2> &nbsp;&nbsp;Explore </h2></a>
                <a href="/post"><h2> &nbsp;&nbsp;Post </h2></a>
            </div>
            <div>
                <a href="/internal/signout"><h2>Sign Out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h2></a>
            </div>

        </nav>
    
        <br>
        <br>

        {%block main%}
        {%endblock main%}


    </body>
</html>