{% extends "base.jinja2" %}

{% block title%} 

    <title>Edit</title> 

{% endblock title%}

{% block main %}

    {% if post and post.deleted == False %}

        <form action="/internal/edit/{{post.id_}}" method="post">

            <input type="text" name="title" size="40" value="{{post.title}}" style="width:396px">

            <br>
            <br>

            <textarea name="text" rows="15" cols="60">{{post.text}}</textarea>

            <br>

            <button type="submit">Confirm Changes</button>

        </form>

    {% else %}

        <h2> Post not found </h2>

    {% endif %}

{% endblock main %}