{% extends "base.jinja2" %}

{% block title %} <title>Explore</title> {% endblock title%}

{% block main %}

    {% if not posts %}

        <h2> No Posts </h2>

    {% endif %}

    <div class="post">
        {% for post in posts %}

            {% if post.deleted is defined %}
                <a href="/view/{{ post.id_ }}"> {{ post.title }} </p>
                <br>

            {% endif %}

        {% endfor %}
    </div>

{% endblock main%}}