<!DOCTYPE html>
<html lang="en">
<head>

    <title> 404_not_found </title>

    <link rel="stylesheet" href="/static/base.css">

</head>
<body>

    <br>
    <br>
    
    <h2> 404 not found. Deal with it</h2>

</body>
</html>