<!DOCTYPE html>
<html lang="en">
<head>

    <title> 500_server_error </title>

    <link rel="stylesheet" href="/static/base.css">

</head>
<body>
    
    <br>
    <br>

    <h2> 500 server error. Deal with it</h2>

</body>
</html>